### LSE Data Analytics Online Career Accelerator 

# DA201:  Data Analytics with Python

## Filtering and sorting values (tutorial video)

This file contains the code snippets that are introduced in the Filtering and sorting values video. Follow along with the demonstration to:
- filter and sort data from a Series
- filter and sort fata from a DataFrame.

Play and pause the video to follow along with the demonstration.

Note that the first two code blocks are from the on-page content: 'Preparing your workstation' and 'Mapping a series'.
You will need to start following the demonstration from '3. Filter a Series'.

### 1. Prepare your workstation

In [1]:
# Import the Pandas package.
import pandas as pd

# Create the data for the DataFrame
raw_data = {'Name': ['Thando Sinuka', 'Divya Patterson',
                     'Simon De Wit', 'Peter Black',
                     'Noncedo Dlamini', 'David Ackerman',
                     'Eugene du Toit', 'Amaira Patteri',
                     'Monica Le Blanc', 'Richard Fortress'],
            'Age':[29, 26, 25, 23, 30, 35, 25, 27, 24, 32],
            'Qualification': ['PhD', 'MSc', 'MBA', 'BSc',
                              'MCom', 'BCom', 'PhD', 'MBA', 
                              'MCom', 'BCom'],
            'Country': ['South Africa', 'Singapore', 'United Kingdom',
                        'Australia', 'Lesotho', 'United Kingdom',
                        'Canada', 'India', 'France', 'Canada']}

# Specify the row_labels.
row_labels = ['2021/0562/3215', '2021/2136/2132',
              '2021/0021/5987', '2021/3165/0468',
              '2021/0132/5496', '2021/3698/1346',
              '2021/0147/9632', '2021/6549/1324',
              '2021/9513/3579', '2021/3491/7916']

# Specify the column names.
students_updated = pd.DataFrame (raw_data,
                                 columns = ['Name', 'Age', 'Qualification',
                                            'Country', 'Test 1', 'Tutorial 1',
                                            'Test 2', 'Tutorial 2', 'Test 3',
                                            'Tutorial 3', 'Final mark', 'Pass'],

                                 # Specify index = row_labels
                                 index = row_labels)


students_updated ['Test 1'] = [82, 90, 75, 70, 88, 65, 72, 76, 85, 68]
students_updated ['Tutorial 1'] = [80, 75, 79, 69, 82, 68, 90, 84, 83, 79]

students_updated

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,Test 3,Tutorial 3,Final mark,Pass
2021/0562/3215,Thando Sinuka,29,PhD,South Africa,82,80,NaN,NaN,NaN,NaN,NaN,NaN
2021/2136/2132,Divya Patterson,26,MSc,Singapore,90,75,NaN,NaN,NaN,NaN,NaN,NaN
2021/0021/5987,Simon De Wit,25,MBA,United Kingdom,75,79,NaN,NaN,NaN,NaN,NaN,NaN
2021/3165/0468,Peter Black,23,BSc,Australia,70,69,NaN,NaN,NaN,NaN,NaN,NaN
2021/0132/5496,Noncedo Dlamini,30,MCom,Lesotho,88,82,NaN,NaN,NaN,NaN,NaN,NaN
2021/3698/1346,David Ackerman,35,BCom,United Kingdom,65,68,NaN,NaN,NaN,NaN,NaN,NaN
2021/0147/9632,Eugene du Toit,25,PhD,Canada,72,90,NaN,NaN,NaN,NaN,NaN,NaN
2021/6549/1324,Amaira Patteri,27,MBA,India,76,84,NaN,NaN,NaN,NaN,NaN,NaN
2021/9513/3579,Monica Le Blanc,24,MCom,France,85,83,NaN,NaN,NaN,NaN,NaN,NaN
2021/3491/7916,Richard Fortress,32,BCom,Canada,68,79,NaN,NaN,NaN,NaN,NaN,NaN

### 2. Mapping a series

In [4]:
# Students tutorial 2 mark.
students_updated ['Tutorial 2'] = [80, 75, 79, 69, 82, 68, 90, 84, 83, 79]

# Map method on tut 2.
# Create new series.
tut_2 = {80:80, 75:75, 79:76, 69:74, 82:80,
         68:75, 90:80, 84:84, 83:81, 79:80}

# Add new series to current DataFrame.
students_updated['tut_2'] = students_updated ['Tutorial 2'].map(tut_2)

# Reorder columns.
students_updated = students_updated [['Name', 'Age', 'Qualification', 
                                     'Country', 'Test 1', 'Tutorial 1',
                                     'Test 2', 'Tutorial 2', 'tut_2', 
                                     'Test 3', 'Tutorial 3', 'Final mark',
                                     'Pass']]

students_updated

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,tut_2,Test 3,Tutorial 3,Final mark,Pass
2021/0562/3215,Thando Sinuka,29,PhD,South Africa,82,80,NaN,80,80,NaN,NaN,NaN,NaN
2021/2136/2132,Divya Patterson,26,MSc,Singapore,90,75,NaN,75,75,NaN,NaN,NaN,NaN
2021/0021/5987,Simon De Wit,25,MBA,United Kingdom,75,79,NaN,79,80,NaN,NaN,NaN,NaN
2021/3165/0468,Peter Black,23,BSc,Australia,70,69,NaN,69,74,NaN,NaN,NaN,NaN
2021/0132/5496,Noncedo Dlamini,30,MCom,Lesotho,88,82,NaN,82,80,NaN,NaN,NaN,NaN
2021/3698/1346,David Ackerman,35,BCom,United Kingdom,65,68,NaN,68,75,NaN,NaN,NaN,NaN
2021/0147/9632,Eugene du Toit,25,PhD,Canada,72,90,NaN,90,80,NaN,NaN,NaN,NaN
2021/6549/1324,Amaira Patteri,27,MBA,India,76,84,NaN,84,84,NaN,NaN,NaN,NaN
2021/9513/3579,Monica Le Blanc,24,MCom,France,85,83,NaN,83,81,NaN,NaN,NaN,NaN
2021/3491/7916,Richard Fortress,32,BCom,Canada,68,79,NaN,79,80,NaN,NaN,NaN,NaN

### 3. Filter a Series

In [2]:
# Create a class list with all the students. 
class_list = pd.Series(['Thando', 'Divya', 'Simon',
                  'Peter', 'Noncedo', 'David',
                  'Eugene', 'Amaira', 'Monica', 'Richard'],
            index=['2021/0562/3215', '2021/2136/2132',
                    '2021/0021/5987', '2021/3165/0468',
                  '2021/0132/5496', '2021/3698/1346',
                  '2021/0147/9632', '2021/6549/1324',
                    '2021/9513/3579', '2021/3491/7916'])

# Filter the Series for 'Divya' using the ! operator.
class_list [class_list != 'Divya']

2021/0562/3215     Thando
2021/0021/5987      Simon
2021/3165/0468      Peter
2021/0132/5496    Noncedo
2021/3698/1346      David
2021/0147/9632     Eugene
2021/6549/1324     Amaira
2021/9513/3579     Monica
2021/3491/7916    Richard
dtype: object

### 4. Filter a column from a DataFrame

In [5]:
# Filter columns Tutorial 2 and tut_2.
tuts_2 = students_updated [['Tutorial 2', 'tut_2']]

tuts_2

                Tutorial 2  tut_2
2021/0562/3215          80     80
2021/2136/2132          75     75
2021/0021/5987          79     80
2021/3165/0468          69     74
2021/0132/5496          82     80
2021/3698/1346          68     75
2021/0147/9632          90     80
2021/6549/1324          84     84
2021/9513/3579          83     81
2021/3491/7916          79     80

### 5. Filter rows from a DataFrame

In [6]:
# Filter rows tut_2.
marks_adjusted = students_updated[students_updated['tut_2'] <80]

marks_adjusted

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,tut_2,Test 3,Tutorial 3,Final mark,Pass
2021/2136/2132,Divya Patterson,26,MSc,Singapore,90,75,NaN,75,75,NaN,NaN,NaN,NaN
2021/3165/0468,Peter Black,23,BSc,Australia,70,69,NaN,69,74,NaN,NaN,NaN,NaN
2021/3698/1346,David Ackerman,35,BCom,United Kingdom,65,68,NaN,68,75,NaN,NaN,NaN,NaN

### 6. Sorting a Series with index

In [7]:
# Sort index.
# Ascending order is default.
class_list.sort_index()

2021/0021/5987      Simon
2021/0132/5496    Noncedo
2021/0147/9632     Eugene
2021/0562/3215     Thando
2021/2136/2132      Divya
2021/3165/0468      Peter
2021/3491/7916    Richard
2021/3698/1346      David
2021/6549/1324     Amaira
2021/9513/3579     Monica
dtype: object

In [8]:
# Sort index in descending order.
class_list.sort_index(ascending=False)

2021/9513/3579     Monica
2021/6549/1324     Amaira
2021/3698/1346      David
2021/3491/7916    Richard
2021/3165/0468      Peter
2021/2136/2132      Divya
2021/0562/3215     Thando
2021/0147/9632     Eugene
2021/0132/5496    Noncedo
2021/0021/5987      Simon
dtype: object

### 7. Sorting a single column

In [9]:
# Sorting the Name column using the sort_values() method. 
# Ascending order, or A to Z, is default.
students_updated.sort_values(by=['Name'], inplace=True)

students_updated

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,tut_2,Test 3,Tutorial 3,Final mark,Pass
2021/6549/1324,Amaira Patteri,27,MBA,India,76,84,NaN,84,84,NaN,NaN,NaN,NaN
2021/3698/1346,David Ackerman,35,BCom,United Kingdom,65,68,NaN,68,75,NaN,NaN,NaN,NaN
2021/2136/2132,Divya Patterson,26,MSc,Singapore,90,75,NaN,75,75,NaN,NaN,NaN,NaN
2021/0147/9632,Eugene du Toit,25,PhD,Canada,72,90,NaN,90,80,NaN,NaN,NaN,NaN
2021/9513/3579,Monica Le Blanc,24,MCom,France,85,83,NaN,83,81,NaN,NaN,NaN,NaN
2021/0132/5496,Noncedo Dlamini,30,MCom,Lesotho,88,82,NaN,82,80,NaN,NaN,NaN,NaN
2021/3165/0468,Peter Black,23,BSc,Australia,70,69,NaN,69,74,NaN,NaN,NaN,NaN
2021/3491/7916,Richard Fortress,32,BCom,Canada,68,79,NaN,79,80,NaN,NaN,NaN,NaN
2021/0021/5987,Simon De Wit,25,MBA,United Kingdom,75,79,NaN,79,80,NaN,NaN,NaN,NaN
2021/0562/3215,Thando Sinuka,29,PhD,South Africa,82,80,NaN,80,80,NaN,NaN,NaN,NaN

### 8. Sorting by multiple columns

In [10]:
# Sorting the Test 1 and Tutorial 1 columns using the sort_values() method. 
students_updated.sort_values(by=['Test 1', 'Tutorial 1'], inplace=True)

students_updated

,Name,Age,Qualification,Country,Test 1,Tutorial 1,Test 2,Tutorial 2,tut_2,Test 3,Tutorial 3,Final mark,Pass
2021/3698/1346,David Ackerman,35,BCom,United Kingdom,65,68,NaN,68,75,NaN,NaN,NaN,NaN
2021/3491/7916,Richard Fortress,32,BCom,Canada,68,79,NaN,79,80,NaN,NaN,NaN,NaN
2021/3165/0468,Peter Black,23,BSc,Australia,70,69,NaN,69,74,NaN,NaN,NaN,NaN
2021/0147/9632,Eugene du Toit,25,PhD,Canada,72,90,NaN,90,80,NaN,NaN,NaN,NaN
2021/0021/5987,Simon De Wit,25,MBA,United Kingdom,75,79,NaN,79,80,NaN,NaN,NaN,NaN
2021/6549/1324,Amaira Patteri,27,MBA,India,76,84,NaN,84,84,NaN,NaN,NaN,NaN
2021/0562/3215,Thando Sinuka,29,PhD,South Africa,82,80,NaN,80,80,NaN,NaN,NaN,NaN
2021/9513/3579,Monica Le Blanc,24,MCom,France,85,83,NaN,83,81,NaN,NaN,NaN,NaN
2021/0132/5496,Noncedo Dlamini,30,MCom,Lesotho,88,82,NaN,82,80,NaN,NaN,NaN,NaN
2021/2136/2132,Divya Patterson,26,MSc,Singapore,90,75,NaN,75,75,NaN,NaN,NaN,NaN