### LSE Data Analytics Online Career Accelerator 

# DA201:  Data Analytics with Python

## Reshaping a DataFrame (tutorial video)

This file contains the code snippets that are introduced in the 'Reshaping a DataFrame' video. 
Follow along with the demonstration to: 
- stack a DataFrame
- unstack a DataFrame
- melt a DataFrame.

Play and pause the video to follow along with the demonstration.

### 1. Import pandas and create DataFrames

In [1]:
# Import Pandas.
import pandas as pd

# Read the CSV files from the current working directory.
transactions = pd.read_csv('transactions_2010.csv')
products = pd.read_csv('products.csv')

# View the DataFrames.
print(transactions.shape)
print(transactions.columns)

print(products.shape)
print(products.columns)

(26850, 6)
Index(['InvoiceNo', 'StockCode', 'Quantity', 'InvoiceDate', 'UnitPrice',
       'CustomerID'],
      dtype='object')
(3945, 2)
Index(['StockCode', 'Description'], dtype='object')

### 2. Combine the DataFrames into a new DataFrame

In [2]:
# Stack the customers.csv from DataFrame to Series.
trans_prod = pd.merge(transactions, products, how='left', on='StockCode')

# View the new DataFrame.
print(trans_prod.columns)
print(trans_prod.shape)

Index(['InvoiceNo', 'StockCode', 'Quantity', 'InvoiceDate', 'UnitPrice',
       'CustomerID', 'Description'],
      dtype='object')
(26850, 7)

### 3. Stacking a DataFrame

In [3]:
# Stack the transactions DataFrame from DataFrame to Series.
transactions_stack = transactions.stack()

# View the output.
transactions_stack

0      InvoiceNo                536365
       StockCode                85123A
       Quantity                      6
       InvoiceDate     2010-12-01 8:26
       UnitPrice                  2.55
                            ...
26849  StockCode                47559B
       Quantity                      2
       InvoiceDate    2010-12-23 16:06
       UnitPrice                  1.25
       CustomerID                18116
Length: 161100, dtype: object

In [4]:
# Compare the transactions_stack output to the original DataFrame.
print(transactions)

      InvoiceNo StockCode  Quantity       InvoiceDate  UnitPrice  CustomerID
0        536365    85123A         6   2010-12-01 8:26       2.55       17850
1        536365     71053         6   2010-12-01 8:26       3.39       17850
2        536365    84406B         8   2010-12-01 8:26       2.75       17850
3        536365    84029G         6   2010-12-01 8:26       3.39       17850
4        536365    84029E         6   2010-12-01 8:26       3.39       17850
...         ...       ...       ...               ...        ...         ...
26845    539988     84380         1  2010-12-23 16:06       1.25       18116
26846    539988    84849D         1  2010-12-23 16:06       1.69       18116
26847    539988    84849B         1  2010-12-23 16:06       1.69       18116
26848    539988     22854         2  2010-12-23 16:06       4.95       18116
26849    539988    47559B         2  2010-12-23 16:06       1.25       18116

[26850 rows x 6 columns]

In [5]:
# Confirm the change.
# View the data type(s).
print(type(transactions_stack))
# View the specified index.
print(transactions_stack.index)

<class 'pandas.core.series.Series'>
MultiIndex([(    0,   'InvoiceNo'),
            (    0,   'StockCode'),
            (    0,    'Quantity'),
            (    0, 'InvoiceDate'),
            (    0,   'UnitPrice'),
            (    0,  'CustomerID'),
            (    1,   'InvoiceNo'),
            (    1,   'StockCode'),
            (    1,    'Quantity'),
            (    1, 'InvoiceDate'),
            ...
            (26848,    'Quantity'),
            (26848, 'InvoiceDate'),
            (26848,   'UnitPrice'),
            (26848,  'CustomerID'),
            (26849,   'InvoiceNo'),
            (26849,   'StockCode'),
            (26849,    'Quantity'),
            (26849, 'InvoiceDate'),
            (26849,   'UnitPrice'),
            (26849,  'CustomerID')],
           length=161100)

### 4. Unstacking a DataFrame.

In [6]:
# Unstack the transactions_stack DataFrame.
transactions_1 = transactions_stack.unstack()

# View the DataFrame.
transactions_1.head()

  InvoiceNo StockCode Quantity      InvoiceDate UnitPrice CustomerID
0    536365    85123A        6  2010-12-01 8:26      2.55      17850
1    536365     71053        6  2010-12-01 8:26      3.39      17850
2    536365    84406B        8  2010-12-01 8:26      2.75      17850
3    536365    84029G        6  2010-12-01 8:26      3.39      17850
4    536365    84029E        6  2010-12-01 8:26      3.39      17850

In [7]:
# Compare the transactions_1 output to the original DataFrame.
transactions.head

<bound method NDFrame.head of       InvoiceNo StockCode  Quantity       InvoiceDate  UnitPrice  CustomerID
0        536365    85123A         6   2010-12-01 8:26       2.55       17850
1        536365     71053         6   2010-12-01 8:26       3.39       17850
2        536365    84406B         8   2010-12-01 8:26       2.75       17850
3        536365    84029G         6   2010-12-01 8:26       3.39       17850
4        536365    84029E         6   2010-12-01 8:26       3.39       17850
...         ...       ...       ...               ...        ...         ...
26845    539988     84380         1  2010-12-23 16:06       1.25       18116
26846    539988    84849D         1  2010-12-23 16:06       1.69       18116
26847    539988    84849B         1  2010-12-23 16:06       1.69       18116
26848    539988     22854         2  2010-12-23 16:06       4.95       18116
26849    539988    47559B         2  2010-12-23 16:06       1.25       18116

[26850 rows x 6 columns]>

In [8]:
# Confirm the change.
# View the data type(s).
print(type(transactions_1))
# View the specified index.
print(transactions_1.index)

<class 'pandas.core.frame.DataFrame'>
Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            26840, 26841, 26842, 26843, 26844, 26845, 26846, 26847, 26848,
            26849],
           dtype='int64', length=26850)

### 5. Melting a DataFrame

In [9]:
# Melt the trans_prod DataFrame.
trans_prod.melt(id_vars='StockCode', value_vars='Description')

      StockCode     variable                                value
0        85123A  Description   CREAM HANGING HEART T-LIGHT HOLDER
1         71053  Description                  WHITE METAL LANTERN
2        84406B  Description       CREAM CUPID HEARTS COAT HANGER
3        84029G  Description  KNITTED UNION FLAG HOT WATER BOTTLE
4        84029E  Description       RED WOOLLY HOTTIE WHITE HEART.
...         ...          ...                                  ...
26845     84380  Description    SET OF 3 BUTTERFLY COOKIE CUTTERS
26846    84849D  Description                HOT BATHS SOAP HOLDER
26847    84849B  Description               FAIRY SOAP SOAP HOLDER
26848     22854  Description          CREAM SWEETHEART EGG HOLDER
26849    47559B  Description                  TEA TIME OVEN GLOVE

[26850 rows x 3 columns]

In [10]:
# Compare the output to the original DataFrame.
print(trans_prod)

      InvoiceNo StockCode  Quantity       InvoiceDate  UnitPrice  CustomerID  \
0        536365    85123A         6   2010-12-01 8:26       2.55       17850
1        536365     71053         6   2010-12-01 8:26       3.39       17850
2        536365    84406B         8   2010-12-01 8:26       2.75       17850
3        536365    84029G         6   2010-12-01 8:26       3.39       17850
4        536365    84029E         6   2010-12-01 8:26       3.39       17850
...         ...       ...       ...               ...        ...         ...
26845    539988     84380         1  2010-12-23 16:06       1.25       18116
26846    539988    84849D         1  2010-12-23 16:06       1.69       18116
26847    539988    84849B         1  2010-12-23 16:06       1.69       18116
26848    539988     22854         2  2010-12-23 16:06       4.95       18116
26849    539988    47559B         2  2010-12-23 16:06       1.25       18116

                               Description
0       CREAM HANGING HEART T-LIGHT HOLDER
1                      WHITE METAL LANTERN
2           CREAM CUPID HEARTS COAT HANGER
3      KNITTED UNION FLAG HOT WATER BOTTLE
4           RED WOOLLY HOTTIE WHITE HEART.
...                                    ...
26845    SET OF 3 BUTTERFLY COOKIE CUTTERS
26846                HOT BATHS SOAP HOLDER
26847               FAIRY SOAP SOAP HOLDER
26848          CREAM SWEETHEART EGG HOLDER
26849                  TEA TIME OVEN GLOVE

[26850 rows x 7 columns]