### LSE Data Analytics Online Career Accelerator 

# DA201:  Data Analytics with Python

## Application of the applymap function (tutorial video)

This file contains the code snippets that are introduced in the 'Application of the applymap function' video. 
Follow along with the demonstration to use the applymap function to: 
- apply a function to every element within a DataFrame

Play and pause the video to follow along with the demonstration.

### 1. Import pandas and create a DataFrame

In [1]:
# Import Pandas.
import pandas as pd

# Import a CSV data set with a URL from a website.
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

# View the DataFrame.
print(drinks.shape)
print(drinks.dtypes)

(193, 6)
country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

### 2. Change integer values to floats using applymap()

In [2]:
# Employ the applymap function to specified columns.
drinks_new = drinks.loc[:, 'beer_servings':'wine_servings'].applymap(float)

# View the DataFrame.
drinks_new.head()

   beer_servings  spirit_servings  wine_servings
0            0.0              0.0            0.0
1           89.0            132.0           54.0
2           25.0              0.0           14.0
3          245.0            138.0          312.0
4          217.0             57.0           45.0